<!DOCTYPE html>
<html>
    <head>
            <title>About Us</title>
            <link rel='stylesheet' href='style.css'>

    </head>


    <body>


            <ul>
                    <div class="logo">
                        <li style="float:left"><a href="homepage">SafeEats</a></li>
                    </div>
                    <div class="tabs">
                        
                        <li style="float:right"><a href="table">Table</a></li>
                        <li style="float:right"><a href="about">About</a></li>
                        <li style="float:right"><a href="map">Home</a></li>
                    </div>
                </ul>
        

                <div class="content">
                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                        <p>
                                    &nbsp &nbsp &nbsp &nbsp It is more important than ever for college students and new-comers to the PG County area to be aware of what 
                                restaurants and food places are around them. More importantly, it is essential to be aware of the sanitary 
                                conditions of the places individuals are eating at. Due to the recent salmonella cases surrounding 
                                The University of Maryland, many individuals in the area may question where to go eat without 
                                risking potential infections or contamination issues. SafeEats is dedicated to finding local restaurants, 
                                fast food chains, convenience stores, and more to deliver information on sanitary grades of each establishment 
                                to help our users decide the best place to eat at or shop from. Users will be able to narrow down the 
                                establishment results by filtering their search by location and sanitary grade. With the results, users 
                                are then able to pick and choose from which places have the top sanitary grades and which restaurants 
                                they should stay away from. 
                                
 
                </div>
                
               

        
            </body>
</html>