<!DOCTYPE html>
<html>
    <head>
            <title>SafeEats Homepage</title>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
            <link rel="stylesheet" href="searchicon.css" />
            <link rel='stylesheet' href='style.css'>
        
        <!-- Load table css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    </head>
    <body>

            <ul>
                    <div class="logo">
                        <li style="float:left"><a href="homepage">SafeEats</a></li>
                    </div>
                    <div class="tabs">
                        
                        <li style="float:right"><a href="table">Table</a></li>
                        <li style="float:right"><a href="about">About</a></li>
                        <li style="float:right"><a href="map">Home</a></li>
                    </div>
                </ul>
            


        
        <!-- The window below the Nav Bar -->
        <div class="background">
            <div class="sss">  
            <span class="label">Establishment Name</span><br>
                <input type="text" id="searchh" onkeyup="data()" placeholder="Enter name or place" onchange="filter()">
            </div>  

            <form class="form-container" action="/map" method="POST">
                

                    <!-- Location Selector -->
                    <select placeholder="Location" id="hello" class="form-control" name="selectLocation" onchange="filter()">
                        <option value="" selected disabled hidden>Location</option>
                        <option>COLLEGE PARK</option>
                        <option>GREENBELT</option>
                        <option>HYATTSVILLE</option>
                        <option>LAUREL</option>
                </select>

                <!-- Category Selector -->
                <select placeholder="Category" id="cat" class="form-control" name="selectCategory" onchange="filter()">
                        <option value="" selected disabled hidden>Category</option>
                        <option>Convenience Store</option>
                        <option>Coffee Shop</option>
                        <option>Fast Food</option>
                        <option>Grocery Store</option>
                        <option>Restaurant</option>
                </select>

                <!-- Sanitary Selector -->
                <select placeholder="Inspection Results" id="result" class="form-control" name="selectInspection" onchange="filter()">
                    <option value="" selected disabled hidden>Inspection Results</option>
                    <option>Compliance Schedule - Completed</option>
                    <option>Compliance Schedule - Outstanding</option>
                    <option>Compliant - Health Risk</option>
                    <option>Compliant - No Health Risk</option>
                    <option>Critical Violations observed</option>
                    <option>Facility Closed</option>
                    <option>Facility Reopened</option>
                    <option>Non-Compliant - Violations Observed</option>
                </select> 

            </form>

        </div>

  


    </div>
    <div id ="size" >
            <table id="table" >
                <thread>
                    <tr>
                        <th>Name</th>
                        <th>Inspection Date</th>
                        <th>Inspection Results</th>
                        <th>Inspection Type</th>
                        <th>Address Line</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Category</th>
                        <th>Owner</th>
                        <th>Establishment ID</th>
                    </tr>
                </thread>
                <tbody id ="dataset"></tbody>  
            </table>
        </div>

<script>
            fetch("https://data.princegeorgescountymd.gov/resource/umjn-t2iz.json")
            .then(res=>{ 
                res.json()
                .then(dataset=> {
                    console.log(dataset);
                    if(dataset.length >0){
                        let test_data = "";
                        dataset.forEach((value)=>{
                            test_data +='<tr>';
                            test_data += '<td>'+value.name+'</td>';
                            test_data += '<td>'+value.inspection_date+'</td>';
                            test_data += '<td>'+value.inspection_results+'</td>';
                            test_data += '<td>'+value.inspection_type+'</td>';
                            test_data += '<td>'+value.address_line_1+'</td>';
                            test_data += '<td>'+value.city+'</td>';
                            test_data += '<td>'+value.state+'</td>';
                            test_data += '<td>'+value.zip+'</td>';
                            test_data += '<td>'+ value.category+'</td>';
                            test_data += '<td>'+value.owner+'</td>';
                            test_data += '<td>'+ value.establishment_id+'</td>';
                        })
                        document.getElementById("dataset").innerHTML = test_data;
                        
                    }
                })
            })

        
        
</script>
<script>
function filter(){
                    let input = document.getElementById("hello");
                    let input_zero = document.getElementById("searchh");
                    let upper_zero = input_zero.value.toUpperCase();
                    let upper = input.value.toUpperCase();
                    let input_one = document.getElementById("cat");
                    let upper_one = input_one.value.toUpperCase();
                    let input_two = document.getElementById("result");
                    let upper_two = input_two.value.toUpperCase();
                    let all_table = document.getElementById("table")
                    let tr = all_table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++){
                        let td_name = tr[i].getElementsByTagName("td")[0];
                        let td_result = tr[i].getElementsByTagName("td")[2];
                        let td_city = tr[i].getElementsByTagName("td")[5];
                        let td_category = tr[i].getElementsByTagName("td")[8];
                        if(td_city && td_category && td_result){
                            if(td_name.textContent.toUpperCase().indexOf(upper_zero)> -1 && td_city.textContent.toUpperCase().indexOf(upper)> -1 && td_category.textContent.toUpperCase().indexOf(upper_one) > -1 &&
                            td_result.textContent.toUpperCase().indexOf(upper_two)> -1){
                                tr[i].style.display= "";
                            }else{
                                tr[i].style.display = "none";
                            }
                        } 
                        
                    }
                }
</script>
</body>
</html>