<!DOCTYPE html>
<html>
    <head>
            <title>SafeEats Homepage</title>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
            <link rel="stylesheet" href="searchicon.css" />
            <link rel='stylesheet' href='style.css'>
        
        <!-- Load table css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

        <!-- Load Leaflet from CDN -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>  

    </head>
    <body>

            <ul>
                    <div class="logo">
                        <li style="float:left"><a href="homepage">SafeEats</a></li>
                    </div>
                    <div class="tabs">
                        
                        <li style="float:right"><a href="table">Table</a></li>
                        <li style="float:right"><a href="about">About</a></li>
                        <li style="float:right"><a href="map">Home</a></li>
                    </div>
                </ul>
            


        
        <!-- The window below the Nav Bar -->
        <div class="background">

            <form class="form-container" action="/map" method="POST">

                    <!-- Location Selector -->
                    <select placeholder="Location" id="hello" class="form-control" name="selectLocation" onchange="filter()">
                        <option value="" selected disabled hidden>Location</option>
                        <option>COLLEGE PARK</option>
                        <option>GREENBELT</option>
                        <option>HYATTSVILLE</option>
                        <option>LAUREL</option>
                </select>

                <!-- Category Selector -->
                <select placeholder="Category" id="cat" class="form-control" name="selectCategory" onchange="filter()">
                        <option value="" selected disabled hidden>Category</option>
                        <option>Convenience Store</option>
                        <option>Coffee Shop</option>
                        <option>Fast Food</option>
                        <option>Grocery Store</option>
                        <option>Restaurant</option>
                </select>

                <!-- Sanitary Selector -->
                <select placeholder="Inspection Results" id="result" class="form-control" name="selectInspection" onchange="filter()">
                    <option value="" selected disabled hidden>Inspection Results</option>
                    <option>Compliance Schedule - Completed</option>
                    <option>Compliance Schedule - Outstanding</option>
                    <option>Compliant - Health Risk</option>
                    <option>Compliant - No Health Risk</option>
                    <option>Critical Violations observed</option>
                    <option>Facility Closed</option>
                    <option>Facility Reopened</option>
                    <option>Non-Compliant - Violations Observed</option>
                </select> 
                <br>
                    <button class="submit-button">Submit</button>

            </form>

        </div>
    


    </body>

</html>